  
*{
    padding:0px;
    margin:0px;
}
html {
  scroll-behavior: smooth;
}

.container-fluid{
        padding: 0px 58px !important;
}
.order-name{
  padding: 5px 0 5px 20px;
}
.text-right button {
    width: 105px;
    height: 31px;
    background: green;
    color: white;
    border: 1px solid green;
}
.log-t input{
    border: 1px solid #ccc;
    border-radius: 0;
    box-shadow: 0 0 5px #ddd inset;
    float: right;
    font-size: 15px;
    font-weight: 400;
    padding: 7px 6px 6px;
    text-indent: 0;
    text-overflow: ellipsis;
    width: 60%;
}

ul{
    margin-bottom:0px !important;
    padding-left:0px !important;
}
body ,h1,h2,h3,h5,h6,p,a,span,label{
    
    font-family: 'Open Sans', sans-serif;
    
}
button:focus,input:focus{
    outline:none !important;
}

h1.site-header__title {
    text-align: center;
    font-size: 92px;
    font-weight: bolder;
}
.logo{
    width:12%;
    text-align:left;
    FLOAT:LEFT;
        
}
.logo img{
    width: 250px;
    margin: 15px 0px;
}
.pull-right{
    float:right !important;
}
.top-header-1 i{
    border: 1px solid #000;
    border-radius: 50%;
    padding: 3px;
    height: 18px;
    font-size: 11px;
    width: 18px;
    text-align: center;
    line-height: 10px;
}
.top-header-1 p{
    font-size: 13px;
    font-weight: 800;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    display:inline;

}
.top-header-1 button{
        border-radius: 0;
    font-size: 12px;
    background-color: #f33b3b;
    text-transform: uppercase;
    font-weight: 400;
    padding: 4px 10px;
    border: 0;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}
.top-header{
    overflow:hidden;
    background-color: #f2f2f4;
    padding-top: 10px;
    padding-bottom: 10px;
}
.top-header-1 {
    width:50%;
    float:left;
}
.top-header-2 li a{
        cursor: pointer;
    color: #000;
    font-size: 13px;
    font-weight: 400;
    text-transform: capitalize;
}
.top-header-2 ul{
        display: inline-block;

}
.top-header-2 li{
        
    display: inline-block;
    padding: 0 15px;
}
.top-header-2 {
        width:50%;
            font-size: 12px;
    text-align: right;
    float:left;
}
.greybar-basket{
        display: inline-block;
    background: #000;
    color: #fff;
    padding: 4px 10px;
    font-size: 12px;
}
.greybar-basket a{
    font-size: 12px;
    color: #fff;
    
    font-weight: 400;

}
.top-header-2 li+li::after {
    background: #aaa;
    bottom: 18%;
    content: "";
    height: 60%;
    left: 0;
    position: absolute;
    width: 1px;
}
.search-wrap{
        margin-top: 35px;
    width: 350px;
    float: right;
}
.wrap-inner button i{
        font-size: 20px;
    line-height: 29px;
    color: #fff;
    padding: 2.5px 4px;
}
.wrap-inner button{
    border: 0;
    background: #000;
        padding: 0px !important;
}
.wrap-inner span{
    background-color: #000;
    padding: 0;
    border-radius: 0;
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    border: 0;
}
.wrap-inner{
        position: relative;

    border-collapse: separate;
}
.wrap-inner input{
    border-right: 0;
    position: relative;
    z-index: 2;
    float: left;
    width: 90%;
    margin-bottom: 0;
    height: 34px;
   border: 1px solid #ccc;
    padding: 6px 12px;
    box-shadow: 0 0 0;
    border-color: #000;
    border-radius: 0;
    font-size: 12px;
    font-weight: lighter;
    color: #000!important;
}
.nav-ul-wrapper li{
    list-style:none;
    display:inline-block;
}
.red{
    color: #fff!important;
    background-color: #e20000!important;
}
.nav-ul-wrapper a:hover ,.active{
        box-shadow: 0 0 25px #ccc;
    border: 0;
    text-decoration:none;
    color:#333;
}
.navs{
        border-top: 1px #ccc solid;
    border-bottom: 1px #ccc solid;
    overflow:hidden;
}
.nav-ul-wrapper a{
        display: flex;
    color: #000;
    padding: 14px 20px;
    font-size:14px;
    text-transform: uppercase;
}
.w-20{
    width:20%;
    float:left;
    overflow:hidden;
}
.bg-red{
    background: linear-gradient(to right,rgba(156,7,0,1) 1%,rgba(254,58,61,1) 100%);
    color: #fff;
}
.bg-grey{
        background-color: #737373;
    color: #fff;
}
.bg-clr-a{
    cursor: pointer;
    float: left;
    margin-bottom: 4px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    font-family: OpenSansRegular;
    text-decoration: none;
    margin-top: 4px;
}
.bg-clr-a div{
        float: left;
    padding: 0 7px;
    width: 100%;
}
.extra-1{
    font-size: 19px;
    margin-bottom: 0;
    margin-top: 0;
    color: #fff;
    font-weight: 700;
    line-height: 1.1;
    float: left;
    width: 100%;
}
.extra-2{
    font-size: 13px;
    margin: 0;
    color: #fff;
    font-weight: 400;
    letter-spacing: .4px;
    line-height: 1.1;
    float: left;
    width: 100%;
}
.banner-sale{
    margin:10px 0px;
    overflow:hidden;
}
.grey-bar{
        font-size: 15px;
    font-weight: 600;
    width: 80%;
    text-align: center;
    float: none;
    text-shadow: none;
    margin: 0 auto;
}
.h1-cvr{
    background-color: #f2f2f4;
    padding: 10px;
    text-align: center;
    font-weight: 400;
    margin-bottom: 15px;
    margin-top: 15px;
}
.s-thumb h2{
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 10px;
    text-align:center;
}

.s-thumb a:hover{
    text-decoration:none;
}

.s-thumb a{
    color:#333;
}
.s-thumb img{
    width:254px;
}
.pd0 .s-thumb:last-child{
    padding-right:0px !important;
        padding-left: 2% !important;

}
.pd0{
    padding:0px !important;
    margin-bottom: 12px;
}
.box-s{
    border: 1px solid #efefef;
    margin: 0;
    box-shadow: 0 0 28.88px 9.12px rgba(0,0,0,.04);
    padding: 0;
    margin-bottom: 30px;
}
.ss-thumb{
    text-align:center;
    width:20%;
    float:left;
    padding:10px;
}
.ss-thumb img{
    width:100%;
}
.sale-bar{
    background: linear-gradient(to right,rgb(220,48,40) 1%,rgba(254,58,61,1) 100%);
    color: #fff;
    overflow:hidden;
    text-align:center;
    margin: 5px 0 18px;
}
.mini-text{
    overflow:hidden;
    text-align:center;
}
.mini-text a{
        font-size: 11px;
    color: #000000;
    text-decoration: none;
    padding: 18px 0px;

}
.rate-text{
    overflow: hidden;
    margin-top: 25px;text-align:center;

}
.r-btn{
    border-radius: 0!important;
    height: 35px!important;
    text-transform: uppercase;
    font-size: 8px!important;
    text-align:center;
    line-height: 35px;
    padding: 0 0px;
    width: 49.5%;
    float:right;
    background-color: #ff281e!important;
    color: #fff!important;
    border: 0!important;
}
.view-all a{
    
    color:#fff;
    text-transform: uppercase;
    letter-spacing:2px;
}
.view-all{
    position: absolute;
    right: 0;
    top: 7px;
    color:#fff;
    float: right;
    font-size: 14px;
    padding: 8px 11px;
    border-radius: 3px;
    background: linear-gradient(to right,rgba(156,7,0,1) 14%,rgba(254,58,61,1) 100%);
    margin: 10px 15px;
}
.paypal-pic img{
    width:80%;
}
.paypal-pic{
        width: 50%;
    float: left;
    margin: 10px 0px 32px;
}

.single-ftr li a{
    color: #333;
    text-decoration: none;
}
.single-ftr li i{
    padding-right:5px;
}
.single-ftr ul{
    padding-left:0px;
}
.single-ftr li{
        color: #000;
    font-size: 13px;
    list-style:none;
    margin-bottom: 3px;
    text-shadow: 0 0 0;
    width: 100%;
}
.single-ftr h3{
        border-bottom: 1px solid #ccc;
    color: #000;
    font-size: 14px;
    margin-top: 0;
    padding-bottom: 11px;
    text-transform: uppercase;
        margin: 10px 0 20px;
        font-weight:600;
}
.ftr-links {
    background-color: #f2f2f4;
    margin: 15px 0 0;
    padding: 30px 0 !important;
}
.social i{
    font-weight: 400;
    margin-right: 5px;
    color: #f2f2f4;
    background: #333;
    font-size: 19px;
    width: 38px;
    height: 38px;
    border-radius: 100px;
    padding: 9px 0px;
    text-align: center;
}
.newsletter1{
        background-color: #049b00;
    border: 0;
    color: #fff;
    padding: 10px;
    width: 100%;
    text-transform: uppercase;
}
.newsletter{
    width: 100%;
    padding: 10px;
    margin: 20px 0 5px;
    font-size: 13px;
    padding: 17px;
    border: 1px solid #c8c8c8;
}
.ftr-text1{
    background-color: #fbfbfb;
    padding: 20px 0 0;

}
.ftr-text1 p{
    color: #515151;
    font-size: 11px;
    line-height: 13px;
        padding: 0px 50px 50px;
        margin-bottom:0px;

}
.pd00 p{
    margin-bottom: 0px;
    padding: 12px 30px;
}
.pd00{
        margin-top: 0px !important;
    padding: 0px  !important;

}
.owl-carousel{
    overflow:hidden;
}
.menu-bars{
    display:none !important;
}
.pd00{
    background:#f2f2f4;
    text-align:center;
}
@media only screen and (max-width: 700px) {
    .container{
            width: 100% !important;
    }
  .log-t input{
    width:100%;
  }
    .order-name{
  padding: 0px;
  }
  header#order_header {
    padding: 51px 16px 6px;
    }
  h1.site-header__title {
    font-size: 53px;
    }
  .order_content {
    padding: 5px 10px;
  }
  footer#order_footer {
    padding: 0 12px;
}
  button#cart_btn {
    width: 100%;
    background: green;
  }
  a.btn.btn-default {
    background: green;
    border-radius: 0px;
  }
  table.table_order thead tr th {
    font-size: 12px;
  }
  tbody.order_table_body tr td {
    font-size: 13px;
  }
  table.whislisttable.tableresposive.table-striped thead th{
    font-size:15px !important;
  }
  table.whislisttable.tableresposive.table-striped tbody td a {
    font-size: 12px;
    color: black;
  }
  button#cart_btn {
    background: green !important;
    border-radius: 0px;
  }
  a#btn1 {
    width: 100% !important;
    background: green !important;
  }
  .col-sm-9.acc-info-i input{
    width:100%;
  }
  .input_pnum .plus {
    top: -24px;
    right: 47px !important;
}
    a.btn {
    padding: 7px;
    }
    .nav-ul-wrapper {
    display: none;
    }
    div#foot-cart-cookie {
      display: none;
     }
    .middle_header {
      padding-bottom: 8px;
    }
    .greybar-basket{
    margin-top:12px;
  }
    .ftr-text1 {
    display: none;
    }
    .top-header-1 {
        width: 100%;
        text-align: center;
    }
    .product-det {
    padding: 2%;
    overflow: hidden;
    text-align: center;
    }
    .hist-a {
    padding: 0px 10px !important;
    }
    .hist-a a {
    color: #000;
    font-size: 11px;
    }
    .container-fluid {
    padding: 0px 12px !important;
    }
    .top-header-2 {
        width: 100%;
        font-size: 12px;
        text-align: center;
        float: left;
        padding: 15px 0px;
    }
    .cart-heading h1 {
    color: #000!important;
    font-size: 18px !important;
    margin: 0 8px 2px!important;
    padding: 0px;
    font-family: HelveticaNeueLTStdUltLt;
    }
    .logo img {
        width: 100%;
        margin: 15px 0px;
    }
    .search-wrap {
        margin-top: 35px;
        width: 100%;

    }
    .s-thumb img {
        width: 100%;
    }
    .nav-ul-wrapper li {
        list-style: none;
        display: list-item;
    }
    
    .pd0 .s-thumb:last-child{
        padding-right:15px !important;
    }
    .ss-thumb {
    text-align: center;
    width: 100%;
    }
    .menu-bars{
        float: right;
        margin: 15px;
        font-size: 32px;
        display:block !important;
    }
    .view-all{
        display:none;
    }
    .show-ftr{
        display:block !important;
    }
    .show-ftr{
        position:static !important;
        overflow:hidden;
    }
    .social{
        text-align: center;
        overflow:hidden;
    }
    .paypal-pic {
        width: 100%;
        float: left;
        margin: 10px 0px 32px;
    }
    .ww-50{
        width:100% !Important;
    }
}

.hist-a{
        margin-top: 25px;

}
.hist-a a{
    color:#000;
    font-size:15px;
}
.catog-t{
    overflow:hidden;
    margin-bottom:20px;
    padding:0px 100px;
    text-align:center;
}
.catog-t h3{
        font-size: 21px;
    margin-bottom: 30px;

}
.cat-wrap p{
font-size: 13px;
    color: #000;
    margin-top: 12px;
    margin-bottom: 0px;
    padding-top: 0px;
    font-weight:700;
}
.cat-wrap:hover{
    box-shadow: 0 0 10px #847e7e;
}
.cat-wrap img{
    width:100%;
}
.cat-wrap BUTTON{
    border: 0 solid;
    width: 110px;
    margin: 6px auto;
    border-radius: 4px;
    text-transform: uppercase;
    background-color: #ff281e;
    padding: 5px 7px;
    letter-spacing: 1px;
    text-align: center;
    color: #fff;
}
.cat-wrap{
    margin: 10px;
    border: 1px solid #e7e7e7;
    padding:0px 10px 20px;
    
}
.sss-thumb{
    text-align:center;
}
.product-det{
    padding: 2%;

    overflow:hidden;
}
.product-det img{
    width:250px;
    margin-bottom:20px;
}
.product-det h4,.product-det p{
    display:block;
}
.continue-btn{
    float: right;
    height: 40px;
    text-align:center;
    margin-top: 8px;
    width: 200px;
    background:#ea3a3a;
    color:#fff;
    border:none;
    font-size:18px;
}


.log-t{
    overflow:hidden;
    padding-bottom:15px;
    border-bottom:1px solid #e7e7e7;
}
.log-t label{
        float: left;
    font-size: 18px;
    width: auto;
    margin-top: 7px;
    font-weight:400;
}
.W-100{
    WIDTH:100%;
    overflow:hidden;
}
.log-t .w-100{
        padding: 15px;
        padding: 15px;
}
.forget-a{
    text-align:right;
    color:#000;
    float:right;
}
.login-b{
    border-radius: 0!important;

    text-transform: uppercase;
    font-size: 14px !important;
    margin-top:20px;
    padding: 10 20px;

    float:right;
    background-color: #ff281e!important;
    color: #fff!important;
    border: 0!important;
}
.ww-50{
    width:50%;
    overflow:hidden;
        margin: 30px 0px 0px;

}
.thin-text{
    font-size: 24px;
    font-weight: lighter;
    color: #b9b9b9;
    margin-top: 20px;
}
.check{
    width:auto !important;
    float:none !important;
    box-shadow:none;
}
.agreemnt{
    font-size:12px;
    margin-top:40px;
}
/*---Product listing strt ---*/


.container-fluid.no-p.cat-textt.unique-title {
    margin-top: 18px;
}
.line-t {
    background-color: #fff;
    color: #3d3333;
    font-size: 23px;
    left: 0;
    margin: 0 auto;
    text-align: center;
    letter-spacing: 1.3px;
}
.unique-title .cat-tile h1 {
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 18px;
    margin: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
.top-content-main-mob {
    display: block;
    text-align: center;
    max-width: 895px;
    margin: 0px auto;
    width: 100%;
}
.top-description {
    padding: 0 0 27px;
    text-align: left;
    display: none;
}
.tool-b.new_tool_bar {
    background: transparent;
    border-style: none;
    margin-top: auto;
    padding: 25px;
}.cust_prod_list_new {
    width: 100%;
    border: 0 solid red;
    float: right;
}.product_list_pagi_ttx_new {
    display: block;
    background-color: #434343;
    padding: 2%;
    text-align: left;
    width: 100%;
    color: white;
    letter-spacing: .5px;
}.sortby_form_new {
    background-color: #dfdfdf;
    padding: 2% 2% 1.3%;
    font-size: 13px;
    overflow: hidden;
    width: 100%;
}
.sort-list-text {
    float: left;
    border: 0 solid;
}.sort-list-text p {
    text-transform: uppercase;
    float: left;
    margin: 0;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 21px;
    font-family: open_sanssemibold;
}.sort-list-text ul {
    margin: 0;
    padding: 0;
    display: inline-block;
}.sort-list-text ul li {
    font-family: OpenSansRegular;
    list-style-type: none;
    border-right: 1px solid #bebebe;
    display: inline;
    padding: 0 5px 0 6px;
    line-height: 22px;
    margin: 0;
    font-size: 13px;
    letter-spacing: 0;
    float: left;
}.sort-list-text ul li a {
    text-decoration: none;
    color: #000;
}.sel_opt {
    color: #ff281e!important;
}.tool-bar-top .product_listing_pagination a img {
    width: 7px;
}.product_listing_pagination a.prevnext {
    background-image: linear-gradient(#fff,#f9f9f9);
    border-radius: 0;
    display: inline-block;
    font-weight: 700;
    margin: 0;
    /* padding: 0 7px 0 5px; */
    padding: 5px 5px 5px 5px;
}.pagi-prod-new {
    float: right;
    border: 0 solid;
}.product_listing_pagination_new {
    float: left;
}.product_listing_pagination {
    float: left;
}.product_listing_pagination_new ul {
    margin: 0;
    padding: 0;
    display: inline-block;
    float: left;
}.product_listing_pagination_new ul li {
    list-style-type: none;
    border-right: 0 solid #bebebe;
    display: inline;
    padding: 0 5px 0 1px;
    line-height: 21px;
    margin: 0;
    float: left;
}.product_listing_pagination_new h1 a, .product_listing_pagination_new span a {
    text-decoration: none;
    float: left;
    color: #fff;
    background-color: #f43537;
    text-transform: uppercase;
    font-size: 11px;
    padding: 5px 6px;
}
.row.products {
    margin: 0 !important;
}
.container-fluid.ptb-5 {
    padding-top: 23px !important;
    padding-bottom: 23px !important;
}
.item.list-group-item.col-sm-3.col-xs-6.prodt_list.new-produt-design {
    padding: 10px 3px !important;
        border: none;
}
.productHolder.equal-height {
    height: 100%!important;
    box-shadow: 0 0 28.88px 9.12px rgba(0,0,0,.04);
    border: 1px solid #efefef;
    position: relative;
    padding: 10px;
}
.piGal.no-gall.pintogle a img {
    display: block;
    padding: 4px;
    height:300px;
    margin:0 auto 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: none !important;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}
h3.group.inner.list-group-item-heading {
    padding: 0px 29px;
    text-align: center;
}
h3.group.inner.list-group-item-heading a{
    font-size: 13px;
    color: black;
}
.caption hr {
    margin-top: 20px;
    margin-bottom: 0px; 
    border: 0;
    border-top: 1px solid #eee;
}
.row.price_div {
    padding: 8px 26px;
}
.price {
    width: 50%;
    padding: 5px;
}
.fprice {
    color: #000;
    font-size: 30px;
    font-weight: 600;
    font-family: opensansregular,sans-serif;
}
.new-rrp-div .new-rrp,.new-rrp-div del {
    color: #050505;
    opacity: .6;
    display: inline-block;
    vertical-align: middle;
}
.saving_area {
    width: 50%;
    padding-right: 22px;
}
.save_listing_child {
    background-color: #ff281e;
    color: #fff;
    border-radius: 8px;
    width: 70px;
    float: right;
    padding: 8px;
    text-align: center;
}
.save_listing_child .detail_save {
    font-size: 13px;
    font-weight: bolder;
    text-transform: uppercase;
    font-family: opensansregular;
    line-height: 20px;
    margin-bottom: 3px;
    letter-spacing: 1px;
}
.save_listing_child .detail_pri {
    font-size: 12px;
    font-weight: bolder;
    font-family: opensansregular;
    line-height: 14px;
    margin-bottom: 2px;
}
.save_listing_child .detail_today {
    font-size: 12px;
    font-weight: bolder;
    text-transform: uppercase;
    font-family: opensansregular;
    line-height: 15px;
}
.offers_div {
    padding: 6px 12px;
}
.btn_list {
    display: flex;
}
.btn_list .left_btn{
    width: 50%;
    border: 1px solid #c6c6c6!important;
    color: #000!important;
    font-family: open_sanssemibold!important;
    font-size: 12px!important;
    letter-spacing: 0!important;
    padding: 8px 0 8px 5px!important;
    text-transform: uppercase!important;
    height: 33px !important;
    border-radius: 1px!important;
    background-color: #f1f1f1;
    text-align: center;
}
.left_btn a,.left_btn a:hover{
    color: black;
    text-decoration: none;
}
.btn_list .right_btn {
    width: 49%;
    margin-left: 5px;
    border: 1px solid #ff281e!important;
    font-family: open_sanssemibold!important;
    font-size: 12px!important;
    letter-spacing: 0!important;
    padding: 8px 0 8px 5px!important;
    text-transform: uppercase!important;
    height: auto!important;
    border-radius: 1px!important;
    background-color: #ff281e;
    color: white;
    text-align:center;
}
.right_btn a,.right_btn a:hover{
    color: white;
    text-decoration: none;
}
.resently_block {
    border: 1px solid #efefef;
    margin: 0;
    box-shadow: 0 0 28.88px 9.12px rgba(0,0,0,.04);
    margin-bottom: 35px;
    padding: 0px 33px 32px 33px;
}
.resently_heading h1{
    color: #000;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 21px;
    margin-top: 35px;
}
.resently_itme_img a img {
    width: 100%;
}
.row.resently_item {
    padding: 13px 0px;
}
.item_title.text-center{
    padding: 7px;
}
.item_title.text-center a {
    font-size: 14px;
    padding: 7px;
    color: black;
}
.my-style .amazingcarousel-price {
    font-size: 13px;
}
.rrp_slider {
    margin-left: 0;
    width: 100%;
}
.amazingcarousel-price {
    margin-top: 8px;
}
/*---Product listing end---*/
/*cart      */
.cart-heading, .cart-heading h1 {
    margin-top: 44px;
    font-size: 31px;
    color: #333;
    font-family: arial;
    padding: 0px 20px;
}
.container-fluid hr {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 40px !important;
    margin-right: 40px !important;
    border: 0;
    border-top: 1px solid #eee;
    color: black;
}
.col-lg-5.col-md-5.col-sm-6.col-xs-12.pull-right.cart-r.no-p {
    margin-top: 0;
    text-align: right;
    width: 361px;
}
.cart-bt {
    float: right;
    background-color: #FF281E;
    border-color: #FF281E;
    color: #fff;
}
.btn-success {
    background-color: #FF281E;
    border-color: #FF281E;
    color: #fff;
}
/*--slider strt ---*/
#slider-text{
  padding-top: 40px;
  display: block;
}
#slider-text .col-md-6{
  overflow: hidden;
}

#slider-text h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 3px;
  margin: 30px auto;
  padding-left: 40px;
}
#slider-text h2::after{
  border-top: 2px solid #c7c7c7;
  content: "";
  position: absolute;
  bottom: 35px;
  width: 100%;
  }

#itemslider h4{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 12px;
  margin: 10px auto 3px;
}
#itemslider h5{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  font-size: 12px;
  margin: 3px auto 2px;
}
#itemslider h6{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;;
  font-size: 10px;
  margin: 2px auto 5px;
}
.badge {
  background: #b20c0c;
  position: absolute;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  line-height: 31px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-size: 14px;
  border: 2px solid #FFF;
  box-shadow: 0 0 0 1px #b20c0c;
  top: 5px;
  right: 25%;
}
#slider-control img{
  padding-top: 60%;
  margin: 0 auto;
}
@media screen and (max-width: 992px){
#slider-control img {
  padding-top: 70px;
  margin: 0 auto;
}
}

.carousel-showmanymoveone .carousel-control {
  width: 4%;
  background-image: none;
}
.carousel-showmanymoveone .carousel-control.left {
  margin-left: 5px;
}
.carousel-showmanymoveone .carousel-control.right {
  margin-right: 5px;
}
.carousel-showmanymoveone .cloneditem-1,
.carousel-showmanymoveone .cloneditem-2,
.carousel-showmanymoveone .cloneditem-3,
.carousel-showmanymoveone .cloneditem-4,
.carousel-showmanymoveone .cloneditem-5 {
  display: none;
}
@media all and (min-width: 768px) {
  .carousel-showmanymoveone .carousel-inner > .active.left,
  .carousel-showmanymoveone .carousel-inner > .prev {
    left: -50%;
  }
  .carousel-showmanymoveone .carousel-inner > .active.right,
  .carousel-showmanymoveone .carousel-inner > .next {
    left: 50%;
  }
  .carousel-showmanymoveone .carousel-inner > .left,
  .carousel-showmanymoveone .carousel-inner > .prev.right,
  .carousel-showmanymoveone .carousel-inner > .active {
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner .cloneditem-1 {
    display: block;
  }
}
@media all and (min-width: 768px) and (transform-3d), all and (min-width: 768px) and (-webkit-transform-3d) {
  .carousel-showmanymoveone .carousel-inner > .item.active.right,
  .carousel-showmanymoveone .carousel-inner > .item.next {
    -webkit-transform: translate3d(50%, 0, 0);
    transform: translate3d(50%, 0, 0);
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner > .item.active.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner > .item.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev.right,
  .carousel-showmanymoveone .carousel-inner > .item.active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    left: 0;
  }
}
@media all and (min-width: 992px) {
  .carousel-showmanymoveone .carousel-inner > .active.left,
  .carousel-showmanymoveone .carousel-inner > .prev {
    left: -16.666%;
  }
  .carousel-showmanymoveone .carousel-inner > .active.right,
  .carousel-showmanymoveone .carousel-inner > .next {
    left: 16.666%;
  }
  .carousel-showmanymoveone .carousel-inner > .left,
  .carousel-showmanymoveone .carousel-inner > .prev.right,
  .carousel-showmanymoveone .carousel-inner > .active {
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner .cloneditem-2,
  .carousel-showmanymoveone .carousel-inner .cloneditem-3,
  .carousel-showmanymoveone .carousel-inner .cloneditem-4,
  .carousel-showmanymoveone .carousel-inner .cloneditem-5,
  .carousel-showmanymoveone .carousel-inner .cloneditem-6  {
    display: block;
  }
}
@media all and (min-width: 992px) and (transform-3d), all and (min-width: 992px) and (-webkit-transform-3d) {
  .carousel-showmanymoveone .carousel-inner > .item.active.right,
  .carousel-showmanymoveone .carousel-inner > .item.next {
    -webkit-transform: translate3d(16.666%, 0, 0);
    transform: translate3d(16.666%, 0, 0);
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner > .item.active.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev {
    -webkit-transform: translate3d(-16.666%, 0, 0);
    transform: translate3d(-16.666%, 0, 0);
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner > .item.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev.right,
  .carousel-showmanymoveone .carousel-inner > .item.active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    left: 0;
  }
}
a.left1.carousel-control {
    position: absolute;
    top: 43%;
    bottom: 43%;
    width: 33px;
    left: -2%;
    height: 33px;
    border-radius: 50%;
    background: black;
    color: white;
}
a.left1.carousel-control .fas {
    font-size: 21px;
    position: absolute;
    top: 7px;
    right: 11px;
}
a.right1.carousel-control {
    position: absolute;
    top: 43%;
    bottom: 43%;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    background: black;
    color: white;
    left: 99%;
}
a.right1.carousel-control .fas {
        font-size: 21px;
    position: absolute;
    top: 7px;
    right: 8px;
}
/*--slider end ---*/
/*--cart start ---*/

*{
    padding:0px;
    margin:0px;
}

ul{
    margin-bottom:0px !important;
    padding-left:0px !important;
}
body ,h1,h2,h3,h5,h6,p,a,span,label{
    
    font-family: 'Open Sans', sans-serif;
    
}
button:focus,input:focus{
    outline:none !important;
}

.logo{
    width:12%;
    text-align:left;
    FLOAT:LEFT;
        
}
.logo img{
    width: 250px;
    margin: 15px 0px;
}
.pull-right{
    float:right !important;
}
.top-header-1 i{
    border: 1px solid #000;
    border-radius: 50%;
    padding: 3px;
    height: 18px;
    font-size: 11px;
    width: 18px;
    text-align: center;
    line-height: 10px;
}
.top-header-1 p{
    font-size: 13px;
    font-weight: 800;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    display:inline;

}
.top-header-1 button{
        border-radius: 0;
    font-size: 12px;
    background-color: #f33b3b;
    text-transform: uppercase;
    font-weight: 400;
    padding: 4px 10px;
    border: 0;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}
.top-header{
    overflow:hidden;
    background-color: #f2f2f4;
    padding-top: 10px;
    padding-bottom: 10px;
}
.top-header-1 {
    width:50%;
    float:left;
}
.top-header-2 li a{
        cursor: pointer;
    color: #000;
    font-size: 13px;
    font-weight: 400;
    text-transform: capitalize;
}
.top-header-2 ul{
        display: inline-block;

}
.top-header-2 li{
        
    display: inline-block;
    padding: 0 15px;
}
.top-header-2 {
        width:50%;
            font-size: 12px;
    text-align: right;
    float:left;
}
.greybar-basket{
        display: inline-block;
    background: #000;
    color: #fff;
    padding: 4px 10px;
    font-size: 12px;
}
.greybar-basket a{
    font-size: 12px;
    color: #fff;
    
    font-weight: 400;

}
.top-header-2 li+li::after {
    background: #aaa;
    bottom: 18%;
    content: "";
    height: 60%;
    left: 0;
    position: absolute;
    width: 1px;
}
.search-wrap{
        margin-top: 35px;
    width: 350px;
    float: right;
}
.wrap-inner button i{
        font-size: 20px;
    line-height: 29px;
    color: #fff;
    padding: 2.5px 4px;
}
.wrap-inner button{
    border: 0;
    background: #000;
        padding: 0px !important;
}
.wrap-inner span{
    background-color: #000;
    padding: 0;
    border-radius: 0;
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    border: 0;
}
.wrap-inner{
        position: relative;

    border-collapse: separate;
}
.nav-ul-wrapper li{
    list-style:none;
    display:inline-block;
}
.red{
    color: #fff!important;
    background-color: #e20000!important;
}
.nav-ul-wrapper a:hover ,.active{
        box-shadow: 0 0 25px #ccc;
    border: 0;
    text-decoration:none;
    color:#333;
}
.navs{
        border-top: 1px #ccc solid;
    border-bottom: 1px #ccc solid;
    overflow:hidden;
}
.nav-ul-wrapper a{
        display: flex;
    color: #000;
    padding: 14px 20px;
    font-size:14px;
    text-transform: uppercase;
}
.w-20{
    width:20%;
    float:left;
    overflow:hidden;
}
.bg-red{
    background: linear-gradient(to right,rgba(156,7,0,1) 1%,rgba(254,58,61,1) 100%);
    color: #fff;
}
.bg-grey{
        background-color: #737373;
    color: #fff;
}
.bg-clr-a{
    cursor: pointer;
    float: left;
    margin-bottom: 4px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    font-family: OpenSansRegular;
    text-decoration: none;
    margin-top: 4px;
}
.bg-clr-a div{
        float: left;
    padding: 0 7px;
    width: 100%;
}
.extra-1{
    font-size: 19px;
    margin-bottom: 0;
    margin-top: 0;
    color: #fff;
    font-weight: 700;
    line-height: 1.1;
    float: left;
    width: 100%;
}
.extra-2{
    font-size: 13px;
    margin: 0;
    color: #fff;
    font-weight: 400;
    letter-spacing: .4px;
    line-height: 1.1;
    float: left;
    width: 100%;
}
.banner-sale{
    margin:10px 0px;
    overflow:hidden;
}
.grey-bar{
        font-size: 15px;
    font-weight: 600;
    width: 80%;
    text-align: center;
    float: none;
    text-shadow: none;
    margin: 0 auto;
}
.h1-cvr{
    background-color: #f2f2f4;
    padding: 10px;
    text-align: center;
    font-weight: 400;
    margin-bottom: 15px;
    margin-top: 15px;
}
.s-thumb h2{
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 10px;
    text-align:center;
}

.s-thumb a:hover{
    text-decoration:none;
}

.s-thumb a{
    color:#333;
}
.pd0 .s-thumb:last-child{
    padding-right:0px !important;
        padding-left: 2% !important;

}
.pd0{
    padding:0px !important;
    margin-bottom: 12px;
}
.box-s{
    border: 1px solid #efefef;
    margin: 0;
    box-shadow: 0 0 28.88px 9.12px rgba(0,0,0,.04);
    padding: 0;
    margin-bottom: 30px;
}
.ss-thumb{
    text-align:center;
    width:20%;
    float:left;
    padding:10px;
}
.ss-thumb img{
    width:100%;
}
.mini-text a{
        font-size: 11px;
    color: #000000;
    text-decoration: none;
    padding: 18px 0px;

}
.sale-title h2{
    font-size: 22px;
    background: linear-gradient(to right,rgba(156,7,0,1) 14%,rgba(254,58,61,1) 100%);
    color: #fff;
    display: inline-block;
    padding: 8px 29px;
    top: -7px;
    text-transform: uppercase;
    letter-spacing:2px;
    margin: 18px 0px;
}
.view-all a{
    
    color:#fff;
    text-transform: uppercase;
    letter-spacing:2px;
}
.paypal-pic img{
    width:80%;
}
.paypal-pic{
        width: 50%;
    float: left;
    margin: 10px 0px 32px;
}

.single-ftr li a{
    color: #333;
    text-decoration: none;
}
.single-ftr li i{
    padding-right:5px;
}
.single-ftr ul{
    padding-left:0px;
}
.single-ftr li{
        color: #000;
    font-size: 13px;
    list-style:none;
    margin-bottom: 3px;
    text-shadow: 0 0 0;
    width: 100%;
}
.single-ftr h3{
        border-bottom: 1px solid #ccc;
    color: #000;
    font-size: 14px;
    margin-top: 0;
    padding-bottom: 11px;
    text-transform: uppercase;
        margin: 10px 0 20px;
        font-weight:600;
}
.social i{
    font-weight: 400;
    margin-right: 5px;
    color: #f2f2f4;
    background: #333;
    font-size: 19px;
    width: 38px;
    height: 38px;
    border-radius: 100px;
    padding: 9px 0px;
    text-align: center;
}
.newsletter1{
        background-color: #049b00;
    border: 0;
    color: #fff;
    padding: 10px;
    width: 100%;
    text-transform: uppercase;
}
.newsletter{
    width: 100%;
    padding: 10px;
    margin: 20px 0 5px;
    font-size: 13px;
    padding: 17px;
    border: 1px solid #c8c8c8;
}
.ftr-text1{
    background-color: #fbfbfb;
    padding: 20px 0 0;

}
.ftr-text1 p{
    color: #515151;
    font-size: 11px;
    line-height: 13px;
        padding: 0px 50px 50px;
        margin-bottom:0px;

}
.pd00 p{
    margin-bottom: 0px;
    padding: 12px 30px;
}
.pd00{
        margin-top: 0px !important;
    padding: 0px  !important;

}
.owl-carousel{
    overflow:hidden;
}
.menu-bars{
    display:none !important;
}
.pd00{
    background:#f2f2f4;
}
@media only screen and (max-width: 700px) {
    .container{
            width: 100% !important;
    }
    a.right1.carousel-control {
    position: absolute;
    top: 43%;
    bottom: 43%;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    background: black;
    color: white;
    left: 96%;
    }
    a.left1.carousel-control {
    position: absolute;
    top: 43%;
    bottom: 43%;
    width: 33px;
    left: -7%;
    height: 33px;
    border-radius: 50%;
    background: black;
    color: white;
    }
    .top-header-1 {
        width: 100%;
        text-align: center;
    }
    .top-header-2 {
        width: 100%;
        font-size: 12px;
        text-align: center;
        float: left;
        padding: 15px 0px;
    }
    .logo img {
        width: 100%;
        margin: 15px 0px;
    }
    .search-wrap {
        margin-top: 35px;
        width: 100%;

    }
    .nav-ul-wrapper li {
        list-style: none;
        display: list-item;
    }
    
    .pd0 .s-thumb:last-child{
        padding-right:15px !important;
    }
    .ss-thumb {
    text-align: center;
    width: 100%;
    }
    .menu-bars{
        float: right;
        margin: 15px;
        font-size: 32px;
        display:block !important;
    }
    .view-all{
        display:none;
    }
    .show-ftr{
        display:block !important;
    }
    .show-ftr{
        position:static !important;
        overflow:hidden;
    }
    .ftr-links{
            margin-top: 25px !important;
    }
    .social{
        text-align: center;
        overflow:hidden;
    }
    .paypal-pic {
        width: 100%;
        float: left;
        margin: 10px 0px 32px;
    }
    .ww-50{
        width:100% !Important;
    }
    .table-wrap{
        overflow: scroll;
        width: 100%;
    }
    .table {
        max-width: 1950px  !important;
        margin-bottom: 20px;
        width: 1000px !important;
    }
    .img-btn-cart img {
        float: NONE;
        border-radius: 0;
        height:auto !important;
        text-indent: 0;
        width: 100% !important;
    }
    .checkout-nw {
        border-radius: 0;
        font-size: 14px;
        float: none;
        font-weight: 700;
        padding-left: 0px !important;
    }
    .code-paste input{
        float: NONE !important;
        margin: 0 12px 14px 0 !important;
        width: 100% !important;
    }
    .extra-center-text {
        font-weight: 600;
        margin: 10px auto !important;
        text-align: center;
        color: #000;
        font-size: 15px  !important;
        padding: 9px 20px  !important;
        width: 100%  !important;
    }
    .red-tic1 p {
        padding: 0;
        color: #050505;
        font-size: 6px !important;
        margin-bottom: 1px  !important;
        font-weight: 700;
    }
    .red-tic1 a {
        color: #ff281e;
        font-size: 9px  !important;
    }
    .continue-btn {
        float: right;
        height: auto !important;
        margin-top: 8px;
        width: 100%  !important;
        margin-bottom: 20px;
        background: #ea3a3a;
        color: #fff;
        border: none;
        font-size: 18px;
        padding: 15px;
    }
    .cart_icon_left {
        margin-left: 0px !important;
        padding: 0px 13px 0 12px !important;
        text-align: center;
        width: 100% !important;
    }
    .cart_icon_left img{
        width:100%;
    }
    .cart_icon_right {
        float: right;
        font-size: 16px;
        width: 100% !important;
        MARGIN:20px;
        display:none !important;
    }
}

.hist-a{
        margin-top: 25px;

}
.hist-a a{
    color:#000;
    font-size:15px;
}
.catog-t{
    overflow:hidden;
    margin-bottom:20px;
    padding:0px 100px;
    text-align:center;
}
.catog-t h3{
        font-size: 21px;
    margin-bottom: 30px;

}
.cat-wrap p{
font-size: 13px;
    color: #000;
    margin-top: 12px;
    margin-bottom: 0px;
    padding-top: 0px;
    font-weight:700;
}
.cat-wrap:hover{
    box-shadow: 0 0 10px #847e7e;
}
.cat-wrap img{
    width:100%;
}
.cat-wrap BUTTON{
    border: 0 solid;
    width: 110px;
    margin: 6px auto;
    border-radius: 4px;
    text-transform: uppercase;
    background-color: #ff281e;
    padding: 5px 7px;
    letter-spacing: 1px;
    text-align: center;
    color: #fff;
}

.cat-wrap{
    margin: 10px;
    border: 1px solid #e7e7e7;
    padding:0px 10px 20px;
    
}
.sss-thumb{
    text-align:center;
}
.product-det{
    padding: 2%;

    overflow:hidden;
}
.product-det img{
    width:250px;
    margin-bottom:20px;
}
.product-det h4,.product-det p{
    display:block;
}
.continue-btn{
    float: right;
    height: 40px;
    margin-top: 8px;
    width: 200px;
    background:#ea3a3a;
    color:#fff;
    border:none;
    font-size:18px;
}
.log-t{
    overflow:hidden;
    padding-bottom:15px;
    border-bottom:1px solid #e7e7e7;
}
.log-t label{
        float: left;
    font-size: 18px;
    width: auto;
    margin-top: 7px;
    font-weight:400;
}
.W-100{
    WIDTH:100%;
    overflow:hidden;
}
.log-t .w-100{
        padding: 15px;
        padding: 15px;
}
.forget-a{
    text-align:right;
    color:#000;
    float:right;
}
.login-b{
    border-radius: 0!important;

    text-transform: uppercase;
    font-size: 14px !important;
    margin-top:20px;
    padding: 10 20px;

    float:right;
    background-color: #ff281e!important;
    color: #fff!important;
    border: 0!important;
}
.ww-50{
    width:50%;
    overflow:hidden;
    margin: 30px 0px 0px;

}
.thin-text{
    font-size: 24px;
    font-weight: lighter;
    color: #b9b9b9;
    margin-top: 20px;
}
.check{
    width:auto !important;
    float:none !important;
    box-shadow:none;
}
.agreemnt{
    font-size:12px;
    margin-top:40px;
}
.pricing-s-img{
    width:100%;
}
.pricing-s{
        padding: 10px;
    margin: 10px;
    box-shadow: 0px 0px 28.88px 9.12px rgba(0, 0, 0, 0.04);
    border: 1px solid rgb(239, 239, 239);
}
.price-a p{
    margin-top:10px;
    padding-bottom:25px;
    border-bottom: 1px solid #dadada;
}
.price-a{
    text-align:center;
    color:#000;
    font-size:12.5px;
}
.tagg{
    color: #000000;
    font-size: 30px;
    font-weight: 600;
}
.tag-under{
    color: #050505;
    opacity: 0.6;
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    font-weight: normal;
}
.save-tagg{
        background-color: #ff281e;
    color: #fff;
    border-radius: 8px;
    width: 70px;
    float: right;
    padding: 8px;
}
.detail_save {
    font-size: 13px;
    font-weight: bolder;
    text-transform: uppercase;

    line-height: 20px;
    margin-bottom: 3px;
    letter-spacing: 1px;
}
.detail_pri {
    font-size: 12px;
    font-weight: bolder;

    line-height: 14px;
    margin-bottom: 2px;
}
.detail_today {
    font-size: 12px;
    font-weight: bolder;
    text-transform: uppercase;
    line-height: 15px;
}
.w-49{
    width:49%;
    overflow:hidden;
}
.f-left{
    float:left;
}
.price-tag{
    overflow:hidden;
}
.f-right{
    float:right;
}
.red-tic a{
    padding: 0;
    color: #050505;
    font-size: 11px;
}
.red-tic p{
    margin-bottom:0px;
}
.red-tic{
    overflow:hidden;
    padding:20px 0px;
}
.btn-wrap{
    overflow:hidden;
}
.cart-t h3{
        border-bottom: 1px solid #a7a4a4;
    padding-bottom: 15px;
    padding-top: 15px;

}
.img-btn-cart img{
    float:right;
    border-radius: 0;
    height: 40px;
    text-indent: 0;
    width: 200px;
    background-size: 200px 40px;
}
.table{
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    margin-top:50px;
}
.bo-1:first-child {
    border-left: 1px dotted;
}
.bo-2 {
    border-bottom: 3px solid #cacaca;
}
.td-img {
    float: left;
    margin-right: 15px;
}
.bo-t {
    border-top: 3px solid #999!important;
}
.bo-1 {
    border-right: 1px dotted;
    padding: 5px 15px!important;
}
.td-t>a {
    font-size: 16px;
}

.td-t>a, th.bo-1 {
    color: #333;
    font-family: arial;
    font-weight: 400;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}
.price-pd .you-save.offer.red-color {
    float: none;
}
.you-save.offer.red-color {
    border: 0 dotted red;
    clear: none;
    float: right;
    margin-top: 4px;
    padding: 0;
    text-align: center;
    width: auto;
}
div.offer {
    clear: both;
    color: #c4201d;
    display: block;
    font-family: HelveticaNeueW01-55Roma,Helvetica,Arial,Sans-serif;
    font-size: 14px;
    line-height: 1.39em;
    min-height: 16px;
}
.shopping-remove, .shopping-update {
    display: inline-block;
}
.shopping-update input, .shopping-cart-desk .shopping-update input {
    background: #ff281e;
    border: 1px solid #ff281e;
    color: #fff;
    font-size: 12px;
    padding: 3px 2px;
    text-transform: capitalize;
    margin:0px 3px;
}
.bo-1.price-pd, .footer-add, .free .text-bg-2-free a {
    text-align: center;
}

.cart-ex-d {
    border-top: 1px solid #999;
    overflow:hidden;
    padding: 20px 0px;
}
.extra-center-text {
    font-weight: 600;
    margin-bottom: 9px;
    color: #000;
    font-size: 25px;
    border: 0 solid;
    float: left;
    background-color: #ffc620;
    clear: both;
    font-family: 'Open Sans', sans-serif;
    padding: 0 20px;
}
.checkout-nw {

}
.checkout-nw {
    color: #ff281e;
    padding: 10px;
}
.checkout-cs, .checkout-nw {
    border-radius: 0;
    font-size: 13px;
    float: left;
    font-weight: 700;
}
.container{
    overflow:hidden;
}
.code-paste input{
    height: 34px;
    padding: 6px 12px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    float: left;
    margin: 0 12px 0 0;
    width: 253px;
    font-size: 12px;
}
.code-paste button{
        background: #ff281e;
    color: #fff;
    padding: 5px 12px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;

}
.red-tic1 {
    overflow: hidden;
    padding: 5px 0px;
}
.red-tic1 a {
    color: #ff281e;
    font-size: 20px;
    text-decoration: underline;
    cursor: pointer;
}
.red-tic1 p {
    padding: 0;
    color: #050505;
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: 700;
}
.savetotal p{
    border-top: 0 solid silver;
    color: #ff281e!important;
    float: left;
    font-weight: 400;
    margin: 5px 0 0;
    padding: 0 0 3px;
    width: 100%;
}
.savetotal{
    border: 0 solid #000;
    border-radius: 4px;
    box-shadow: 0 0 4px #000;
    float: right;
    font-size: 15px;
    line-height: 19px;
    margin-bottom: 0;
    margin-top: 14px;
    padding: 5px 4px 8px;
    text-align: center;
    width: 100%;
}
.savetotal1{
    color: #ff281e;
    float: right;
    font-size: 19px;
    margin-right: 0;
    margin-top: 10px;
}
table{
    width:100%;
}
.fon{
    line-height:1.5;
    font-size:14px;
    font-weight:700;
}
.mtop{
    padding-top:30px;
}

.cart_inner {
    border: 2px dashed silver;
    border-radius: 4px;
    box-shadow: 0 0 5px #000;
    float: left;
    padding: 14px 0;
    width: 100%;
    margin:15px;
}
.cart_icon {
    border-radius: 4px;
    margin-left: -15px;
    margin-right: -15px;

}
.cart_icon_left {
    float: left;
    margin-left: 4%;
    padding: 30px 13px 0 12px;
    text-align: center;
    width: 50%;
}
.cart_icon_name, .cart_icon_right {
    color: #2f55b1;
    font-weight:700;
}
.cart_icon_name.newic {
    border-bottom: 2px solid;
    color: #2f55b1;
    font-weight:700;
    font-size: 21px;
    margin-bottom: 4px;
    padding-bottom: 5px;
    padding-top: 0;
    text-align: center;
}
.cart_icon_right {
    float: right;
    font-size: 16px;
    width: 40%;
}
.cart_icon_fast, .cart_icon_free, .cart_icon_gift, .cart_icon_returd, .cart_icon_support {
    padding: 2px 0 8px 42px;
}
.cart_icon_free {
    background: url(../images/free-d.png) no-repeat transparent;
}
.cart_icon_fast {
    background: url(../images/ic2.png) 0 3px/32px 25px no-repeat rgba(0,0,0,0);
    margin: 7px 0;
}
.cart_icon_returd {
    background: url(../images/r1.png) no-repeat transparent;
    margin: 0 0 7px;
}
.cart_icon_support {
    background: url(../images/c_support.png) no-repeat transparent;
}
/*--cart end ---*/
/*-acount---*/
.cart-heading{
        padding: 21px 0px;
    border-bottom: 1px solid;
    margin: 0px 7px;
}
.cart-heading h1 {
    color: #000!important;
    font-size: 25px!important;
    margin: 0 8px 2px!important;
    font-family: HelveticaNeueLTStdUltLt;
}
.col-sm-12.custoom-account {
    margin-bottom: 50px;
    margin-top: 50px;
}
.col-sm-4.account-div {
    width: 33.33333333%;
}
.custoom-account .account-text {
    box-shadow: 0 0 5px 1px #666;
    font-family: HelveticaNeueCE55Roman;
    margin: 0 0 20px;
    min-height: 210px;
    padding: 8px 20px 20px;
}
.custoom-account .account-text h2 {
    border-bottom: 1px solid #666;
}
.custoom-account .contentText {
    margin-right: 0px;
    margin-left: 0px;
}
ul.accountLinkList {
    line-height: 2;
        list-style-type: none;
}
ul.accountLinkList li a:hover{
    text-decoration: underline;
}
.glyphicon-heart:before {
    content: "\e143";
    color: black;
}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
ul.accountLinkList li a {
    color: #333;
    text-decoration: none;
}
/*----account end-----*/
/*----View or change account information strt*/
.no-m {
    margin: 0;
}
.row.no-m.new-div:before {
    display: table;
    content: " ";
}
.row:after {
    clear: both;
}
.page-header.register-header-title {
    border: none;
    margin: 10px auto 20px;
    padding-bottom: 0;
    width: auto;
}
.acc-head.my-account {
    color: #000!important;
    font-family: BlissProLight!important;
    font-size: 25px!important;
    margin: 0 7px 2px!important;
}
.bottom-line {
    border-top: 1px solid #ddd;
}
.inputRequirement, .markProductOutOfStock, .stockWarning {
    color: #b33a3a;
}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.glyphicon-asterisk:before {
    content: "\2a";
}
.form-group.has-feedback {
    margin-top: 22px;
}

.form-horizontal .control-label {
    color: #333;
    font-family: HelveticaNeueLTStdLt_0;
    font-size: 18px;
    text-align: inherit;
}
.acc-info-i .form-control {
    width: 30%;
    padding: 6px;
    border-radius: 0;
    color: #999;
}
.form-horizontal .has-feedback .form-control-feedback {
    right: 15px;
}
.has-feedback:after{
   clear: both;
}
.form-horizontal .form-group {
    margin-right: -15px;
    margin-left: -15px;
}
.add-book-bottom {
    padding-bottom: 40px;
}
.add-book-bottom:before {
    display: table;
    content: " ";
}
.buttonSet .col-xs-6 #btn1 {
    background: #ff281e;
    border: none;
    border-radius: 0!important;
    color: #fff;
    width: 75px;
}
.buttonSet .text-right .btn-success {
    height: 30px;
    width: auto;
    background-repeat: no-repeat;
    border: none;
    border-radius: 0;
    color: #fff;
    background: red;
}
/*----adress book---*/
.primary-add {
    color: #666;
    font-family: HelveticaNeueLTStdLt_0;
    font-size: 28px;
    font-weight: 300;
    padding: 10px 5px 12px 0;
}
.no-add .contentText  {
    margin-right: -15px;
    margin-left: -15px;
}
.btn-group-vertical>.btn-group:after, .btn-group-vertical>.btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .modal-footer:after, .modal-footer:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
    display: table;
    content: " ";
}
.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}
.panel-primary {
    box-shadow: 0 0 0!important;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.primary-address-book {
    box-shadow: 0 0 5px 1px #666;
}
.primary-address-book.left-add-box {
    padding: 0 2px 55px 4px;
}
.panel-body {
    padding: 18px 17px 36px 19px!important;
}
.primary-address-box {
    padding: 15px 0 20px;
}
.primary-address-book.top-add {
    min-height: 250px;
}
.primary-address-book-box {
    padding: 15px 0 20px;
}
.panel-body {
    color: #333;
    font-size: 14px;
    word-wrap: break-word;
}
.panel-footer {
    padding: 10px 15px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
.book-edit-bt .btn.btn-default {
    background: #000;
    color: white;
}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-weight: 400;
    line-height: 1;
}
/*------account_password--------*/
.page-header.register-header-title {
    border: none;
    margin: 10px auto 20px;
    padding-bottom: 0;
    width: auto;
}
.acc-head.my-account {
    color: #000!important;
    font-family: BlissProLight!important;
    font-size: 25px!important;
    margin: 0 7px 2px!important;
}
.bottom-line {
    border-top: 1px solid #ddd;
}
.inputRequirement, .markProductOutOfStock, .stockWarning {
    color: #b33a3a;
}
.control-label {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: left !important;
    font-weight: 600;
    font-size: 16px;
}
input#inputRequirement {
    margin-bottom: 5px;
}
/*------account_history-----*/
.account-history {
    margin: 40px 0 0;
}
.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.add-book-bottom {
    padding-bottom: 40px;
}
.buttonSet {
    margin-top: 10px;
    margin-bottom: 10px;
    zoom: 1;
}
.btn.btn-default {
    background: #ff281e;
    color: #fff;
    padding: 5px 12px;
}
/*---Pdetail strt----*/
.img-wrapper img{
                width:100%;
            }
            .pro-img-wrap{
                padding:30px 10px;
            }
            .img-wrapper{
                overflow:hidden;

                padding:10px;
                border:1px solid #f0f0f0;
            }
            .det-wrap{
                padding:15px;
                overflow:hidden;
            }
            .w-10{
                width:10%;
            }
            .w-30{
                width:30%;
            }
            .new-section-detail {
                padding-bottom: 27px;
                border-bottom: 1px solid #e3e3e3;
                overflow: hidden;
            }
            .new-section-detail .smallText.code {
                margin-bottom: 30px;
            }
            .new-section-detail .smallText.code {
                width: 100%;
                display: inline-block;
            }
            .prod_code_m {
                font-weight: 800;
            }
            .new-section-detail .first-section.sales_cat1 {
                    width: 30%;
                margin-right: 54px;
                overflow: hidden;
                float: left;

            }
            .clearfix {
                clear: both;
            }
            .new-section-detail .rrp-div {
                margin-top: 0;
                float: left;
                text-align: left;
                width: 100%;
                display: inline-block;
                font-weight: 700;
            }
            .rrp {
                display: block;
                font-size: 14px;
                padding: 2px 8px 2px 2px;
                width: auto;
            }
            .you-save.offer.red-color {
                float: left;
                    border: 1px solid #ff281e;
                border-radius: 0;
                padding: 1px 5px;
                text-align: center;
                width: auto;
                
                margin-top: 4px;
                    color: #c4201d;
                display: block;
                font-family: HelveticaNeueW01-55Roma,Helvetica,Arial,Sans-serif;
                font-size: 14px;
                line-height: 1.39em;
                min-height: 16px;
            }
            .you-save.offer.red-color ul {
                margin: 0;
                padding: 0;
            }
             .new-section-detail .you-save.offer ul li {
                padding: 3px 0;
                border-radius: 8px;
                width: auto;
                list-style:none;
                margin-top: 0;
            }
            .new-section-detail .you-save.offer ul li span {
                color: #ff281e;
                font-size: 14px;
                text-transform: uppercase;
                    line-height: 16px;
            }
            .you-save.offer.red-color ul li span {
                font-size: 14px;
                float: none;
                border: 0 solid #005def;
                border-radius: 50%;
            color: #ff281e;
                display: inline-block;
                padding: 0;
                width: auto;
            }
            .you-save.offer.red-color ul li span:nth-child(2) {
                line-height: 23px;
            }
            .new-section-detail .rrp del {
                display: block;
                margin-left: 0;
                margin: 7px 0 10px;
            }
            .detail_pri{
                margin-left:8px;
            }
            .second-section.sales_cat2 {
                margin-left: 15px;
                    border: 0 solid red;
                float: left;
                margin: 10px 0 0;
            }
            .ourprice-div {
                color: #000;
                float: left;
                font-weight: 400;
                margin: 0;
                padding: 0;
                width: auto;
            }
            .rprice{
                font-size: 15px;
                font-family: arial;
                margin: 0px 0 0 0;
                text-align: center;
                font-weight: bold;
                display: inline-block;
                width: 100%;
                    line-height: 16px;
            }
            .ourprice-div .pSpecialPrice {
                text-align: left;
                color: #000;
                font-size: 27px;
                display: unset;
            }
             .ourprice-div .price_vat {
                color: #000;
                font-size: 12px;
                padding-bottom: 10px;
                display: inline-block;
            }
            .stock_last {
                color: #ff281e;
                font-weight: 700;
                display: inline-block;
                overflow: hidden;
            }
            .fourth-section {
                width: auto;
                float: left;
                margin-top: 0;
                margin-left: 0;
            }
             .new-section-detail .fourth-section span {
                margin-right: 30px;
                font-size: 68px;
                color: #393838;
                display: inline-block;
                vertical-align: middle;
            }
            .fourth-section img {
                position: relative;
                display: inline-block;
                vertical-align: middle;
                top: -1px;
            }
            .main_div_both {
                    float: left !important;
                    width: 100% !important;
                    border-bottom: 1px solid;
                    padding-bottom: 16px;
            }
            .wishtext {
                text-align: right;
                padding-top: 7px;
                float: left;
            }
            .new-wish-desk {
                font-weight: bold;
                background: none;
                border: 0px;
            }
            .glyphicon {
                position: relative;
                top: 1px;
                display: inline-block;
                font-family: 'Glyphicons Halflings';
                font-weight: 400;
                line-height: 1;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }
            .pipe-sign {
                float: left;
                margin: 6px 3px 4px 8px;
                font-weight: bold;
            }.social_book_marks {
                text-align: right;
                padding-top: 3px;
                float: left;
            }
            .hts_bookmarks b {
                display: inline-block;
                vertical-align: middle;
                margin: 0 13px 0 0;
                padding: 0;
                border: 0;
                font-size: 16px;
                color: #000000;
            }
            .social_div {
                float: right;
                width: 28px;
                border: 1px solid;
                text-align: center;
                height: 28px;
                border-radius: 50px;
                margin-right: 5px;
            }
            .social_div a{
                position: relative;
                top: 5px;
                color: black;
                font-size: 18px;
            }
            .prodiscrp {
                padding: 15px;
                overflow: hidden;
            }


            @media only screen and (max-width: 700px) {
                .new-section-detail .first-section.sales_cat1 {
                    width: 100%;
                }
                .second-section.sales_cat2 {

                    margin: 29px 0;
                }
                .payyyyy{
                    width:100%;
                }
            }
/*---Pdetail end----*/
/*---------whis list---------*/
.row.no-m.new-div:before ,.row.no-m.new-div:after {
    display: table;
    content: " ";
}
.page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
}
table.whislisttable.tableresposive {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}
table thead tr{
    height: 44px;border-bottom: 1px solid #eeeeee;
}
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}
.hidden-xs a img{
    margin: auto;
}
.table-striped tr td{
    padding: 11px !important;
}
.pagenumber {
    margin-bottom: 7px;
}
.pagination {
    margin: 0px !important;
}

.btn-danger {
    background-color: #ff281e!important;
    border-color: #d43f3a!important;
    color: #fff;
}
button.btn.btn.btn-success.simpletextbtn {
    background: #ff281e;
}
.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.form-group.has-feedback {
    margin-top: 22px;
    margin-bottom: 15px;
}
.form-horizontal .control-label {
    color: #333;
    font-family: HelveticaNeueLTStdLt_0;
    font-size: 18px;
    text-align: left !important;
    padding-top: 7px;
    margin-bottom: 0;
}
.btn.btn-default {
    background: #ff281e;
    color: #fff;
    padding: 5px 12px;
}


/*---------whis list end---------*/

/*---------check out -----------*/
.tit {
    background: #000;
    color: #fff;
    font-size: 18px;
    padding: 10px;
}
.table-responsive {
    min-height: .01%;
    overflow-x: auto;
}
.bo-2 {
    border-bottom: 3px solid #cacaca;
}
.bo-1:first-child {
    border-left: 1px dotted;
}
.td-img {
    float: left;
    margin-right: 15px;
}
a.btn.btn-danget-xs.remove-btnnn.simpletextbtn {
    background: #ff281e;
    border: 1px solid #ff281e;
    color: #fff;
    font-size: 12px;
    padding: 3px 4px;
    width: auto!important;
    height: 25px!important;
    line-height: 18px;
    margin-left: 8px;
    text-transform: capitalize;
    border-radius: 0!important;
}
.chk-del {
    padding: 20px 0 0;
}
.btn-group-vertical>.btn-group:after, .btn-group-vertical>.btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
    display: table;
    content: " ";
}
.checkout-cs {
    background: #000!important;
    color: #fff;
    padding: 10px;
    width: 100%;
}.panel-b {
    float: left;
    padding: 10px;
}
.checkout-cs {
    background: #000!important;
    color: #fff;
    padding: 10px;
    width: 100%;
}
.form-group {
    margin-bottom: 15px;
}
.dis-cod input {
    float: left;
    margin: 0 12px 0 0;
    width: 73%;
    font-size: 13px;
}
.more-got{
    font-size: 15px;
}
.more-got u {
    color: #ff281e;
}
.checkout-cs {
    background: #000!important;
    color: #fff;
    padding: 10px;
    width: 100%;
}
.checkout-cs.text-rgh {
    text-align: right;
}
#totals.contentText  .savetotal1 {
    color: #ff281e;
    float: right;
    font-size: 19px;
    margin-right: 0;
    line-height: 19px;
    margin-bottom: 0;
    margin-top: 14px;
    padding: 5px 4px 8px;
    text-align: right;
    width: 100%;
}
#checkoutPage div#totalsContent {
    float: right;
    margin-right: 5px;
    margin-top: 20px;
    width: 100%;
}
#totalsContent>table {
    float: right;
    width: 100%;
}
#checkoutPage div.left {
    float: left;
}
#checkoutPage div.right {
    float: right;
}
.panel-b {
    float: left;
    padding: 10px;
}
#checkoutPage .btn, .ui-widget .btn {
    cursor: pointer;
    font-size: 14px;
    line-height: 20px;
    padding: 6px 10px;
    text-transform: uppercase;
}
.fn-show {
    display: none;
}
a.btn.btn-default.simpletextbtn {
    background: #ff281e;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    line-height: 20px;
    padding: 6px 10px;
    text-transform: uppercase;
}
table.table2 tbody tr td{
    font-size: 15px;
}
.panel-b.row {
    margin: 0px !important;
}
#checkoutPage .termscond input {
    margin-right: 8px;
    margin-top: 25px!important;
}
div#processCheckout {
    padding-top: 13px;
}
.row.cart-continue.check {
    float: left;
}
.cont-shopping-cart {
    float: right;
    height: 40px;
    margin-bottom: 0;
    width: 200px;
}
.cont-shopping-cart a{
    background: #ff281e;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    padding: 11px 21px;
}
}


/*---------check out end -----------*/
/*---------pop  up ------------*/
.modal-content {
    padding: 5px;
}
.modal-header{
    background: black;
    height: 37px;
    padding: 8px !important;
}
button.close{
    background: #ffffff;
    color: white;
    padding: 9px !important;
    margin-top: -9px !important;
}
.row.adress_block {
    margin: 0px !important;
}
.add-icons.col-md-12{
    border: 1px solid #a19797;
}

.addressradio {
    float: right;
    padding-top: 5px;
    padding-right: 15px;
}
a#btn16 {
    border-radius: 0px !important;
}
/*---------pop  up  end------------*/
/*---------pop  up2  ------------*/




/*---------pop  up  end------------*/

/*---------about us ------------*/
h1.right-heading.here {
    color: #333;
    font-family: OpenSansRegular;
    font-size: 20px!important;
    font-weight: 700!important;
}
#navigation.mini {
    background: #fff;
    float: left;
    margin-bottom: 15px;
    padding: 0;
    width: 100%;
}
#navigation.mini ul {
    background: #fff;
    border-color: #ccc;
    border-style: solid;
    border-width: 1px 1px 0;
    list-style: none inside;
    margin-bottom: -1px;
    padding: 0;
}
#navigation.mini ul li {
    background-size: 10px;
    width: 100%;
    padding: 11PX 21PX;
    display: block;
    background: #f7f7f7;
    border-bottom: 1px solid #ccc;
}
#navigation.mini li a {
    color: #333;
    display: block;
}
.here .fas.fa-caret-right {
    margin-right: 7px;
    color: #cccccc;
}
.here:hover {
    text-decoration: none;
}







/*---------about us end ------------*/
/*---payment option----*/

*{
    padding:0px;
    margin:0px;
}

ul{
    margin-bottom:0px !important;
    padding-left:0px !important;
}
body ,h1,h2,h3,h5,h6,p,a,span,label{
    
    font-family: 'Open Sans', sans-serif;
    
}
button:focus,input:focus{
    outline:none !important;
}

.logo{
    width:12%;
    text-align:left;
    FLOAT:LEFT;
        
}
.logo img{
    width: 250px;
    margin: 15px 0px;
}
.pull-right{
    float:right !important;
}
.top-header-1 i{
    border: 1px solid #000;
    border-radius: 50%;
    padding: 3px;
    height: 18px;
    font-size: 11px;
    width: 18px;
    text-align: center;
    line-height: 10px;
}
.top-header-1 p{
    font-size: 13px;
    font-weight: 800;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    display:inline;

}
.top-header-1 button{
        border-radius: 0;
    font-size: 12px;
    background-color: #f33b3b;
    text-transform: uppercase;
    font-weight: 400;
    padding: 4px 10px;
    border: 0;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}
.top-header{
    overflow:hidden;
    background-color: #f2f2f4;
    padding-top: 10px;
    padding-bottom: 10px;
}
.top-header-1 {
    width:50%;
    float:left;
}
.top-header-2 li a{
        cursor: pointer;
    color: #000;
    font-size: 13px;
    font-weight: 400;
    text-transform: capitalize;
}
.top-header-2 ul{
        display: inline-block;

}
.top-header-2 li{
        
    display: inline-block;
    padding: 0 15px;
}
.top-header-2 {
        width:50%;
            font-size: 12px;
    text-align: right;
    float:left;
}
.greybar-basket{
        display: inline-block;
    background: #000;
    color: #fff;
    padding: 4px 10px;
    font-size: 12px;
}
.greybar-basket a{
    font-size: 12px;
    color: #fff;
    
    font-weight: 400;

}
.top-header-2 li+li::after {
    background: #aaa;
    bottom: 18%;
    content: "";
    height: 60%;
    left: 0;
    position: absolute;
    width: 1px;
}
.search-wrap{
        margin-top: 35px;
    width: 350px;
    float: right;
}
.wrap-inner button i{
        font-size: 20px;
    line-height: 29px;
    color: #fff;
    padding: 2.5px 4px;
}
.wrap-inner button{
    border: 0;
    background: #000;
        padding: 0px !important;
}
.wrap-inner span{
    background-color: #000;
    padding: 0;
    border-radius: 0;
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    border: 0;
}
.wrap-inner{
        position: relative;

    border-collapse: separate;
}
.nav-ul-wrapper li{
    list-style:none;
    display:inline-block;
}
.red{
    color: #fff!important;
    background-color: #e20000!important;
}
.nav-ul-wrapper a:hover ,.active{
        box-shadow: 0 0 25px #ccc;
    border: 0;
    text-decoration:none;
    color:#333;
}
.navs{
        border-top: 1px #ccc solid;
    border-bottom: 1px #ccc solid;
    overflow:hidden;
}
.nav-ul-wrapper a{
        display: flex;
    color: #000;
    padding: 14px 20px;
    font-size:14px;
    text-transform: uppercase;
}
.w-20{
    width:20%;
    float:left;
    overflow:hidden;
}
.bg-red{
    background: linear-gradient(to right,rgba(156,7,0,1) 1%,rgba(254,58,61,1) 100%);
    color: #fff;
}
.bg-grey{
        background-color: #737373;
    color: #fff;
}
.bg-clr-a{
    cursor: pointer;
    float: left;
    margin-bottom: 4px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    font-family: OpenSansRegular;
    text-decoration: none;
    margin-top: 4px;
}
.bg-clr-a div{
        float: left;
    padding: 0 7px;
    width: 100%;
}
.extra-1{
    font-size: 19px;
    margin-bottom: 0;
    margin-top: 0;
    color: #fff;
    font-weight: 700;
    line-height: 1.1;
    float: left;
    width: 100%;
}
.extra-2{
    font-size: 13px;
    margin: 0;
    color: #fff;
    font-weight: 400;
    letter-spacing: .4px;
    line-height: 1.1;
    float: left;
    width: 100%;
}
.grey-bar{
        font-size: 15px;
    font-weight: 600;
    width: 80%;
    text-align: center;
    float: none;
    text-shadow: none;
    margin: 0 auto;
}
.h1-cvr{
    background-color: #f2f2f4;
    padding: 10px;
    text-align: center;
    font-weight: 400;
    margin-bottom: 15px;
    margin-top: 15px;
}
.s-thumb h2{
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 10px;
    text-align:center;
}

.s-thumb a:hover{
    text-decoration:none;
}

.s-thumb a{
    color:#333;
}
.pd0 .s-thumb:last-child{
    padding-right:0px !important;
        padding-left: 2% !important;

}
.pd0{
    padding:0px !important;
    margin-bottom: 12px;
}
.box-s{
    border: 1px solid #efefef;
    margin: 0;
    box-shadow: 0 0 28.88px 9.12px rgba(0,0,0,.04);
    padding: 0;
    margin-bottom: 30px;
}
.ss-thumb{
    text-align:center;
    width:20%;
    float:left;
    padding:10px;
}
.ss-thumb img{
    width:100%;
}
.mini-text a{
        font-size: 11px;
    color: #000000;
    text-decoration: none;
    padding: 18px 0px;

}
.l-btn{
    width: 49.5%;
    height: 35px;
    line-height: 35px;
    padding: 0 0px;
    border-radius: 0;
    color: #333;
    border: 1px solid;
    border-color: #ccc;
    float: left;
    text-transform: uppercase;
    font-size: 8px;
    text-align:center;
    font-weight:bold;
    background-color: #f1f1f1;
}
.view-all a{
    
    color:#fff;
    text-transform: uppercase;
    letter-spacing:2px;
}
.paypal-pic img{
    width:80%;
}
.paypal-pic{
        width: 50%;
    float: left;
    margin: 10px 0px 32px;
}

.single-ftr li a{
    color: #333;
    text-decoration: none;
}
.single-ftr li i{
    padding-right:5px;
}
.single-ftr ul{
    padding-left:0px;
}
.single-ftr li{
        color: #000;
    font-size: 13px;
    list-style:none;
    margin-bottom: 3px;
    text-shadow: 0 0 0;
    width: 100%;
}
.single-ftr h3{
        border-bottom: 1px solid #ccc;
    color: #000;
    font-size: 14px;
    margin-top: 0;
    padding-bottom: 11px;
    text-transform: uppercase;
        margin: 10px 0 20px;
        font-weight:600;
}
.social i{
    font-weight: 400;
    margin-right: 5px;
    color: #f2f2f4;
    background: #333;
    font-size: 19px;
    width: 38px;
    height: 38px;
    border-radius: 100px;
    padding: 9px 0px;
    text-align: center;
}
.newsletter1{
        background-color: #049b00;
    border: 0;
    color: #fff;
    padding: 10px;
    width: 100%;
    text-transform: uppercase;
}
.newsletter{
    width: 100%;
    padding: 10px;
    margin: 20px 0 5px;
    font-size: 13px;
    padding: 17px;
    border: 1px solid #c8c8c8;
}
.ftr-text1{
    background-color: #fbfbfb;
    padding: 20px 0 0;

}
.ftr-text1 p{
    color: #515151;
    font-size: 11px;
    line-height: 13px;
        padding: 0px 50px 50px;
        margin-bottom:0px;

}
.pd00 p{
    margin-bottom: 0px;
    padding: 12px 30px;
}
.pd00{
        margin-top: 0px !important;
    padding: 0px  !important;

}
.owl-carousel{
    overflow:hidden;
}
.menu-bars{
    display:none !important;
}
.pd00{
    background:#f2f2f4;
}
.payment_img_div {
    height: 64px;
}
@media only screen and (max-width: 700px) {
    .container{
            width: 100% !important;
    }
    .w-20.bg-red.daily {
      height: 75px !important;
     }
    .cover-log-t {
    padding: 0px;
    }
    .w-100 {
    padding: 6px;
    }
    input#inputEmail {
    width: 100%;
    float: left;
}
  input#Password {
    width: 100%;
    float: left;
}
    button.login-b {
    width: 100%;
    background: green !important;
}
  .cover-log-t {
    padding: 23px 0px;
}
   a.login-b {
    float: left;
    background: green !important;
    width: 100%;
    text-align: center;
}
    .top-header-1 {
        width: 100%;
        text-align: center;
    }
    .top-header-2 {
        width: 100%;
        font-size: 12px;
        text-align: center;
        float: left;
        padding: 15px 0px;
    }
    a.img-btn-cart img {
    width: 154px !important;
    }
    a#btn12,a#btn13 {
    font-size: 8px !important;
    }
    #checkoutPage .btn, .ui-widget .btn {
    width: 100%;
    cursor: pointer;
    font-size: 14px;
    line-height: 20px;
    padding: 12px 10px;
    text-transform: uppercase;
    }
    .logo img {
        width: 100%;
        margin: 15px 0px;
    }
    .search-wrap {
        margin-top: 35px;
        width: 100%;

    }
    .nav-ul-wrapper li {
        list-style: none;
        display: list-item;
    }
    
    .pd0 .s-thumb:last-child{
        padding-right:15px !important;
    }
    .ss-thumb {
    text-align: center;
    width: 100%;
    }
    .menu-bars{
        float: right;
        margin: 15px;
        font-size: 32px;
        display:block !important;
    }
    .view-all{
        display:none;
    }
    .show-ftr{
        display:block !important;
    }
    .show-ftr{
        position:static !important;
        overflow:hidden;
    }
    .social{
        text-align: center;
        overflow:hidden;
    }
    .paypal-pic {
        width: 100%;
        float: left;
        margin: 10px 0px 32px;
    }
    .ww-50{
        width:100% !Important;
    }
    .table-wrap{
        overflow: scroll;
        width: 100%;
    }
    .table {
        max-width: 1950px  !important;
        margin-bottom: 20px;
        width: 1000px !important;
    }
    .img-btn-cart img {
        float: NONE;
        border-radius: 0;
        height:auto !important;
        text-indent: 0;
        width: 100% !important;
    }
    .checkout-nw {
        border-radius: 0;
        font-size: 14px;
        float: none;
        font-weight: 700;
        padding-left: 0px !important;
    }
    .code-paste input{
        float: NONE !important;
        margin: 0 12px 14px 0 !important;
        width: 100% !important;
    }
    .extra-center-text {
        font-weight: 600;
        margin: 10px auto !important;
        text-align: center;
        color: #000;
        font-size: 15px  !important;
        padding: 9px 20px  !important;
        width: 100%  !important;
    }
    .red-tic1 p {
        padding: 0;
        color: #050505;
        font-size: 6px !important;
        margin-bottom: 1px  !important;
        font-weight: 700;
    }
    .red-tic1 a {
        color: #ff281e;
        font-size: 9px  !important;
    }
    .continue-btn {
        float: right;
        height: auto !important;
        margin-top: 8px;
        width: 100%  !important;
        margin-bottom: 20px;
        background: #ea3a3a;
        color: #fff;
        border: none;
        font-size: 18px;
        padding: 15px;
    }
    .cart_icon_left {
        margin-left: 0px !important;
        padding: 0px 13px 0 12px !important;
        text-align: center;
        width: 100% !important;
    }
    .cart_icon_left img{
        width:100%;
    }
    .cart_icon_right {
        float: right;
        font-size: 16px;
        width: 100% !important;
        MARGIN:20px;
        display:none !important;
    }
}

.hist-a{
        margin-top: 25px;

}
.hist-a a{
    color:#000;
    font-size:15px;
}
.catog-t{
    overflow:hidden;
    margin-bottom:20px;
    padding:0px 100px;
    text-align:center;
}
.catog-t h3{
        font-size: 21px;
    margin-bottom: 30px;

}
.cat-wrap p{
font-size: 13px;
    color: #000;
    margin-top: 12px;
    margin-bottom: 0px;
    padding-top: 0px;
    font-weight:700;
}
.cat-wrap:hover{
    box-shadow: 0 0 10px #847e7e;
}
.cat-wrap img{
    width:100%;
}
.cat-wrap BUTTON{
    border: 0 solid;
    width: 110px;
    margin: 6px auto;
    border-radius: 4px;
    text-transform: uppercase;
    background-color: #ff281e;
    padding: 5px 7px;
    letter-spacing: 1px;
    text-align: center;
    color: #fff;
}
.cat-wrap{
    margin: 10px;
    border: 1px solid #e7e7e7;
    padding:0px 10px 20px;
    
}
.sss-thumb{
    text-align:center;
}
.product-det{
    padding: 2%;

    overflow:hidden;
}
.product-det img{
    width:250px;
    margin-bottom:20px;
}
.product-det h4,.product-det p{
    display:block;
}
.continue-btn{
    float: right;
    height: 40px;
    margin-top: 8px;
    width: 200px;
    background:#ea3a3a;
    color:#fff;
    border:none;
    font-size:18px;
}

.cover-log-t{
    overflow:hidden;
}
.log-t{
    overflow:hidden;
    padding-bottom:15px;
    border-bottom:1px solid #e7e7e7;
}
.log-t label{
        float: left;
    font-size: 18px;
    width: auto;
    margin-top: 7px;
    font-weight:400;
}
.W-100{
    WIDTH:100%;
    overflow:hidden;
}
.log-t .w-100{
        padding: 15px;
        padding: 15px;
}
.forget-a{
    text-align:right;
    color:#000;
    float:right;
}
.login-b{
    border-radius: 0!important;

    text-transform: uppercase;
    font-size: 14px !important;
    margin-top:20px;
    padding: 10 20px;

    float:right;
    background-color: #ff281e!important;
    color: #fff!important;
    border: 0!important;
}
.ww-50{
    width:50%;
    overflow:hidden;
        margin: 30px 0px 0px;

}
.thin-text{
    font-size: 24px;
    font-weight: lighter;
    color: #b9b9b9;
    margin-top: 20px;
}
.check{
    width:auto !important;
    float:none !important;
    box-shadow:none;
}
.agreemnt{
    font-size:12px;
    margin-top:40px;
}
.pricing-s-img{
    width:100%;
}
.pricing-s{
        padding: 10px;
    margin: 10px;
    box-shadow: 0px 0px 28.88px 9.12px rgba(0, 0, 0, 0.04);
    border: 1px solid rgb(239, 239, 239);
}
.price-a p{
    margin-top:10px;
    padding-bottom:25px;
    border-bottom: 1px solid #dadada;
}
.price-a{
    text-align:center;
    color:#000;
    font-size:12.5px;
}
.tagg{
    color: #000000;
    font-size: 30px;
    font-weight: 600;
}
.tag-under{
    color: #050505;
    opacity: 0.6;
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    font-weight: normal;
}
.save-tagg{
        background-color: #ff281e;
    color: #fff;
    border-radius: 8px;
    width: 70px;
    float: right;
    padding: 8px;
}
.detail_save {
    font-size: 13px;
    font-weight: bolder;
    text-transform: uppercase;

    line-height: 20px;
    margin-bottom: 3px;
    letter-spacing: 1px;
}
.detail_pri {
    font-size: 12px;
    font-weight: bolder;

    line-height: 14px;
    margin-bottom: 2px;
}
.detail_today {
    font-size: 12px;
    font-weight: bolder;
    text-transform: uppercase;
    line-height: 15px;
}
.w-49{
    width:49%;
    overflow:hidden;
}
.f-left{
    float:left;
}
.price-tag{
    overflow:hidden;
}
.f-right{
    float:right;
}
.red-tic a{
    padding: 0;
    color: #050505;
    font-size: 11px;
}
.red-tic p{
    margin-bottom:0px;
}
.red-tic{
    overflow:hidden;
    padding:20px 0px;
}
.btn-wrap{
    overflow:hidden;
}
.cart-t h3{
        border-bottom: 1px solid #a7a4a4;
    padding-bottom: 15px;
    padding-top: 15px;

}
.img-btn-cart img{
    float:right;
    border-radius: 0;
    height: 40px;
    text-indent: 0;
    width: 200px;
    background-size: 200px 40px;
}
.table{
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    margin-top:50px;
}
.bo-1:first-child {
    border-left: 1px dotted;
}
.bo-2 {
    border-bottom: 3px solid #cacaca;
}
.td-img {
    float: left;
    margin-right: 15px;
}
.bo-t {
    border-top: 3px solid #999!important;
}
.bo-1 {
    border-right: 1px dotted;
    padding: 5px 15px!important;
}
.td-t>a {
    font-size: 16px;
}

.td-t>a, th.bo-1 {
    color: #333;
    font-family: arial;
    font-weight: 400;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}
.price-pd .you-save.offer.red-color {
    float: none;
}
.you-save.offer.red-color {
    border: 0 dotted red;
    clear: none;
    float: right;
    margin-top: 4px;
    padding: 0;
    text-align: center;
    width: auto;
}
div.offer {
    clear: both;
    color: #c4201d;
    display: block;
    font-family: HelveticaNeueW01-55Roma,Helvetica,Arial,Sans-serif;
    font-size: 14px;
    line-height: 1.39em;
    min-height: 16px;
}
.qty-box-buttons {
    text-align: center;
    margin-top: 8px;
}
.shopping-remove, .shopping-update {
    display: inline-block;
}
.shopping-update input, .shopping-cart-desk .shopping-update input {
    background: #ff281e;
    border: 1px solid #ff281e;
    color: #fff;
    font-size: 12px;
    padding: 3px 2px;
    text-transform: capitalize;
    margin:0px 3px;
}
.bo-1.price-pd, .footer-add, .free .text-bg-2-free a {
    text-align: center;
}

.cart-ex-d {
    border-top: 1px solid #999;
    overflow:hidden;
    padding: 20px 0px;
}
.extra-center-text {
    font-weight: 600;
    margin-bottom: 9px;
    color: #000;
    font-size: 25px;
    border: 0 solid;
    float: left;
    background-color: #ffc620;
    clear: both;
    font-family: 'Open Sans', sans-serif;
    padding: 0 20px;
}
.checkout-nw {

}
.checkout-nw {
    color: #ff281e;
    padding: 10px;
}
.checkout-cs, .checkout-nw {
    border-radius: 0;
    font-size: 13px;
    float: left;
    font-weight: 700;
}
.container{
    overflow:hidden;
}
.code-paste input{
    height: 34px;
    padding: 6px 12px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    float: left;
    margin: 0 12px 0 0;
    width: 253px;
    font-size: 12px;
}
.code-paste button{
        background: #ff281e;
    color: #fff;
    padding: 5px 12px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;

}
.red-tic1 {
    overflow: hidden;
    padding: 5px 0px;
}
.red-tic1 a {
    color: #ff281e;
    font-size: 20px;
    text-decoration: underline;
    cursor: pointer;
}
.red-tic1 p {
    padding: 0;
    color: #050505;
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: 700;
}
.savetotal p{
    border-top: 0 solid silver;
    color: #ff281e!important;
    float: left;
    font-weight: 400;
    margin: 5px 0 0;
    padding: 0 0 3px;
    width: 100%;
}
.savetotal{
    border: 0 solid #000;
    border-radius: 4px;
    box-shadow: 0 0 4px #000;
    float: right;
    font-size: 15px;
    line-height: 19px;
    margin-bottom: 0;
    margin-top: 14px;
    padding: 5px 4px 8px;
    text-align: center;
    width: 100%;
}
.savetotal1{
    color: #ff281e;
    float: right;
    font-size: 19px;
    margin-right: 0;
    margin-top: 10px;
}
table{
    width:100%;
}
.fon{
    line-height:1.5;
    font-size:14px;
    font-weight:700;
}
.mtop{
    padding-top:30px;
}

.cart_inner {
    border: 2px dashed silver;
    border-radius: 4px;
    box-shadow: 0 0 5px #000;
    float: left;
    padding: 14px 0;
    width: 100%;
    margin:15px;
}
.cart_icon {
    border-radius: 4px;
    margin-left: -15px;
    margin-right: -15px;

}
.cart_icon_left {
    float: left;
    margin-left: 4%;
    padding: 30px 13px 0 12px;
    text-align: center;
    width: 50%;
}
.cart_icon_name, .cart_icon_right {
    color: #2f55b1;
    font-weight:700;
}
.cart_icon_name.newic {
    border-bottom: 2px solid;
    color: #2f55b1;
    font-weight:700;
    font-size: 21px;
    margin-bottom: 4px;
    padding-bottom: 5px;
    padding-top: 0;
    text-align: center;
}
.cart_icon_right {
    float: right;
    font-size: 16px;
    width: 40%;
}
.cart_icon_fast, .cart_icon_free, .cart_icon_gift, .cart_icon_returd, .cart_icon_support {
    padding: 2px 0 8px 42px;
}
.cart_icon_free {
    background: url(../images/free-d.png) no-repeat transparent;
}
.cart_icon_fast {
    background: url(../images/ic2.png) 0 3px/32px 25px no-repeat rgba(0,0,0,0);
    margin: 7px 0;
}
.cart_icon_returd {
    background: url(../images/r1.png) no-repeat transparent;
    margin: 0 0 7px;
}
.cart_icon_support {
    background: url(../images/c_support.png) no-repeat transparent;
}
/*---------whis list---------*/
.row.no-m.new-div:before ,.row.no-m.new-div:after {
    display: table;
    content: " ";
}
.page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
}
table.whislisttable.tableresposive {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}
table thead tr{
    height: 44px;border-bottom: 1px solid #eeeeee;
}
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}
.hidden-xs a img{
    margin: auto;
}
.table-striped tr td{
    padding: 11px !important;
}
.pagenumber {
    margin-bottom: 7px;
}
.pagination {
    margin: 0px !important;
}

.btn-danger {
    background-color: #ff281e!important;
    border-color: #d43f3a!important;
    color: #fff;
}
button.btn.btn.btn-success.simpletextbtn {
    background: #ff281e;
}
.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.form-group.has-feedback {
    margin-top: 22px;
    margin-bottom: 15px;
}
.form-horizontal .control-label {
    color: #333;
    font-family: sans-serif,HelveticaNeueLTStdLt_0;
    font-size: 16px;
    text-align: left !important;
    padding-top: 7px;
    margin-bottom: 8px;
    font-weight: 100;
}
.btn.btn-default {
    background: #ff281e;
    color: #fff;
    padding: 5px 12px;
}


/*---------whis list end---------*/

/*---------check out -----------*/
.tit {
    background: #000;
    color: #fff;
    font-size: 18px;
    padding: 10px;
}
.table-responsive {
    min-height: .01%;
    overflow-x: auto;
}
.bo-2 {
    border-bottom: 3px solid #cacaca;
}
.bo-1:first-child {
    border-left: 1px dotted;
}
.td-img {
    float: left;
    margin-right: 15px;
}
a.btn.btn-danget-xs.remove-btnnn.simpletextbtn {
    background: #ff281e;
    border: 1px solid #ff281e;
    color: #fff;
    font-size: 12px;
    padding: 3px 4px;
    width: auto!important;
    height: 25px!important;
    line-height: 18px;
    margin-left: 8px;
    text-transform: capitalize;
    border-radius: 0!important;
}
.chk-del {
    padding: 20px 0 0;
}
.btn-group-vertical>.btn-group:after, .btn-group-vertical>.btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
    display: table;
    content: " ";
}
.checkout-cs {
    background: #000!important;
    color: #fff;
    padding: 10px;
    width: 100%;
}.panel-b {
    float: left;
    padding: 10px;
}
.checkout-cs {
    background: #000!important;
    color: #fff;
    padding: 10px;
    width: 100%;
}
.form-group {
    margin-bottom: 15px;
}
.dis-cod input {
    float: left;
    margin: 0 12px 0 0;
    width: 73%;
    font-size: 13px;
}
#checkoutPage .btn, .ui-widget .btn {
    cursor: pointer;
    font-size: 14px;
    line-height: 20px;
    padding: 6px 10px;
    text-transform: uppercase;
}
.more-got{
    font-size: 15px;
}
.more-got u {
    color: #ff281e;
}
.checkout-cs {
    background: #000!important;
    color: #fff;
    padding: 10px;
    width: 100%;
}
.checkout-cs.text-rgh {
    text-align: right;
}
#totals.contentText  .savetotal1 {
    color: #ff281e;
    float: right;
    font-size: 19px;
    margin-right: 0;
    line-height: 19px;
    margin-bottom: 0;
    margin-top: 14px;
    padding: 5px 4px 8px;
    text-align: right;
    width: 100%;
}
#checkoutPage div#totalsContent {
    float: right;
    margin-right: 5px;
    margin-top: 20px;
    width: 100%;
}
#totalsContent>table {
    float: right;
    width: 100%;
}
#checkoutPage div.left {
    float: left;
}
#checkoutPage div.right {
    float: right;
}
.panel-b {
    float: left;
    padding: 10px;
}
.fn-show {
    display: none;
}
a.btn.btn-default.simpletextbtn {
    background: #ff281e;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    line-height: 20px;
    padding: 6px 10px;
    text-transform: uppercase;
}
table.table2 tbody tr td{
    font-size: 15px;
}
.panel-b.row {
    margin: 0px !important;
}
#checkoutPage .termscond input {
    margin-right: 8px;
    margin-top: 25px!important;
}
div#processCheckout {
    padding-top: 13px;
}
.row.cart-continue.check {
    float: left;
}
.cont-shopping-cart {
    float: right;
    height: 40px;
    margin-bottom: 0;
    width: 200px;
}
.cont-shopping-cart a{
    background: #ff281e;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    padding: 11px 21px;
}
.payment-div.text-rgh {
    background: #000!important;
    color: #fff;
    padding: 10px;
    width: 100%;
}
.left_payment {
    height: 161px;
    width: 50%;
    padding: 30px;
    background: #f9f9f9;
    text-align: center;
    float: left;
}
.right_payment {
    height: 161px;
    width: 50%;
    padding: 30px;
    background: #f9f9f9;
    text-align: center;
    float: right;
}

/*---------check out end -----------*/
/*---------pop  up ------------*/
.modal-content {
    padding: 5px;
}
.modal-header{
    background: black;
    height: 37px;
    padding: 8px !important;
}
button.close{
    background: #ffffff;
    color: white;
    padding: 9px !important;
    margin-top: -9px !important;
}
.row.adress_block {
    margin: 0px !important;
}
.add-icons.col-md-12{
    border: 1px solid #a19797;
}

.addressradio {
    float: right;
    padding-top: 5px;
    padding-right: 15px;
}
a#btn16 {
    border-radius: 0px !important;
}
/*---------pop  up  end------------*/
/*---------about us ------------*/
h1.right-heading.here {
    color: #333;
    font-family: OpenSansRegular;
    font-size: 20px!important;
    font-weight: 700!important;
}
#navigation.mini {
    background: #fff;
    float: left;
    margin-bottom: 15px;
    padding: 0;
    width: 100%;
}
#navigation.mini ul {
    background: #fff;
    border-color: #ccc;
    border-style: solid;
    border-width: 1px 1px 0;
    list-style: none inside;
    margin-bottom: -1px;
    padding: 0;
}
#navigation.mini ul li {
    background-size: 10px;
    width: 100%;
    padding: 11PX 21PX;
    display: block;
    background: #f7f7f7;
    border-bottom: 1px solid #ccc;
}
#navigation.mini li a {
    color: #333;
    display: block;
}
.here .fas.fa-caret-right {
    margin-right: 7px;
    color: #cccccc;
}
.here:hover {
    text-decoration: none;
}







/*---------about us end ------------*/
/*---payment option----*/
/*--------order compelete-------*/
body.order_body {
    padding: 60px 70px;
}
.order_content {
    text-align: center;
}
.order_content i#checkmark {
    text-align: center;
    font-size: 86px;
    color: #24b663;
    margin-bottom: 26px;
}
.order_content p {
    font-size: 25px;
}
footer#order_footer {
    text-align: center;
    margin-top: 66px;
    font-size: 21px;
}
/*--------order compelete end-------*/
/*---------------order---------------*/
.order_radius {
    margin: 0px;
    font-weight: bold;
    width: 67px;
    background: #7cdf7c;
    color: white;
    border: 1px solid;
    padding: 1px;
    font-size: 12px;
    text-align: center;
}
tbody.order_table_body {
    background: #d9edf8;
}
/*---------------order end---------------*/
/* ---------footer co okies--------------*/
div#foot-cookie {
    background: #37414d;
    bottom: 0;
    color: #fff;
    float: left;
    font-size: 12px;
    margin: 0;
    padding: 10px 0 !important;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 9999;
    left: 0;
}

.cook-left {
    float: left;
    margin: 0;
    text-align: left;
    width: 83%;
}

.cook-right {
    cursor: pointer;
    float: right;
    font-family: open_sanssemibold;
    font-size: 12px;
    text-align: center;
    color: #fff;
}
#cookie-law a, .cook-left > a {
    color: #fff;
}
#cookie-law a, .agree1, .cook-left > a {
    text-decoration: underline;
}

#cookie-law .close-cookie-banner {
    color: #e20000;
    font-size: 13px;
    font-family: open_sansbold;
    margin: 0px 0 0 6px;
}

.scrollup {
    background: url('../images/backtotop.png') no-repeat transparent;
    border-radius: 8px;
    bottom: 100px;
    display: inline;
    height: 43px;
    position: fixed;
    right: 30px;
    text-indent: -9999px;
    width: 40px;
    z-index: 999;
    cursor: pointer;
}
html {
  scroll-behavior: smooth;
}
.left-rta {
    float: left;
    padding: 0 7px;
    width: 100%;
}
.left-rta {
    float: left;
    text-align: center;
    width: 100%;
    font-size: 18px;
    font-weight: 700;
    padding: 9px;
}
.list-group-item {
    position: relative;
    display: block;
    padding: 0px !important;
    margin-bottom: 3px !important;
    background-color: #fff;
    border: 1px solid #ddd;
}
#foot-cart-cookie {
    background: #333;
    bottom: 0;
    color: #fff;
    float: left;
    font-size: 12px;
    margin: 0;
    padding: 0;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 9;
}
#foot-cart-cookie .cart-cookie-right {
    background: url('../images/bag-cart-white.png') right center/40px 39px no-repeat rgba(0,0,0,0);
    display: inline-block;
    height: 40px; 
  width:100%;
  position: relative;
    top: -6px;
}
#foot-cart-cookie #cart-cookie-law .cart-cookie-right a {
    line-height: 45px;
    padding-right: 55px;
}
#foot-cart-cookie #cart-cookie-law a {
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    margin: 0 0 0 5px;
    text-decoration: underline;
}
.footcart-close {
    position: absolute;
    cursor: pointer;
}
.input_pnum .plus {
    top: -24px;
    right:57px;
}
.search_result{
  background-color: #f2f2f4;
    z-index: 999999999999999999;
    max-height: 500;
    overflow-y: scroll;
    overflow-x: hidden;
}
.search_result ul{
  list-style: none;
}
.search_result ul li{
  padding: 5px;
    border-bottom: 1px solid gray;
}
.search_result ul li img{
  wdith:50px;
  height:50px;
}
table.table_order thead {
    background: #95d8cc;
}
table.table_order thead tr th {
    text-align: center;
    color: white;
}
table.table_order tbody tr td {
    text-align: center;
}
table.table_order tbody tr td ul{
    list-style:none;
}
.order_com {
    margin: 0px;
    font-weight: bold;
    width: 68px;
    background: red;
    color: white;
    border: 1px solid;
    padding: 1px;
    font-size: 12px;
    text-align: center;
}
table.table_order {
    border-collapse: separate;
    border-spacing: 2px;
}